name: Build org-asm

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make all
      run: make all
    - name: ls
      run: ls
    - name: help
      run: ./orgasm help
